<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946277905793-bvnr3okbk5rln35lps51m99jglep8om4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946277905793-bvnr3okbk5rln35lps51m99jglep8om4</string>
	<key>API_KEY</key>
	<string>AIzaSyCbNyJKmLSHjQ-TM69ftCKfM2Hr3wLpC0o</string>
	<key>GCM_SENDER_ID</key>
	<string>946277905793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kilusoft.todoApp</string>
	<key>PROJECT_ID</key>
	<string>asteroidtodo</string>
	<key>STORAGE_BUCKET</key>
	<string>asteroidtodo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946277905793:ios:34aa67e2089bfa5fba6480</string>
</dict>
</plist>